/* Reset */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global */

body {
    font-family: sans-serif;
}

h2 {
    font-size: 16px;
}

img {
    width: 100%;
}

p, span {
    font-size: 14px;
}

/* Classes */

.container {
    width: 1200px;
    margin: 30px auto;
}

.row {
    margin-bottom: 60px;
}

.product {
    display: inline-block;
}

.mr-10 {
    margin-right: 10px;
}

.img-container {
    margin-bottom: 10px;
    width: 300px;
    position: relative;
    color: white;
    font-weight: bold;
}

.p-f {
    padding: 4px 5px;
    font-size: 13px;
}

.absolute {
    position: absolute;
}

.b-30 {
    bottom: 30px;
}

.discount {
    background-color: #eb002c;
}

.sustainability {
    left: 45px;
    background-color: #008354;
}

.heart-container {
    top: 20px;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 5px;
    text-align: center;
    background-color: white;
    box-shadow: -3px -3px 5px #dadada;
}

.heart {
    color: black;
    font-size: 25px;
}

.bold {
    font-weight: bold;
}

.name-product {
    text-transform: uppercase;
}

.price {
    color: red;
}

.price-stroke {
    color:darkslategrey;
    text-decoration: line-through;
}